@model Movie
@{
    ViewData["Title"] = "show Movie";
}
<h2>@Model.NamaProduk</h2>
<table class = "table">
    <thead>
    <tr>
        <td>Jumlah Barang : </td>
        <td>@Model.JumlahBarang</td>
    </tr>
    <tr>
        <td>Tanggal Order : </td>
        <td>@Model.TanggalOrder</td>
    </tr>
    <tr>
        <td>Harga: </td>
        <td>Rp.@Math.Round(@Model.Harga)</td>
     </tr>
    </thead>
</table>

<form asp-controller="Movie" asp-action="DeleteConfirmed"asp-route-id="@Model.Id">
<button class="btn btn-danger" type="Submit">Yes</button>
<a class="btn btn-primary" asp-controller="Movie" asp-action="Index">Back</a>
</form>