
@{
    ViewData["Title"] = "Detail Transaksi";
}
<h2>@Model.NamaProduk</h2>
<table class = "table">
    <thead>
    <tr>
        <td>JumlahBarang : </td>
        <td>@Model.JumlahBarang</td>
    </tr>
    <tr>
        <td>TanggalOrder : </td>
        <td>@Model.TanggalOrder</td>
    </tr>
    <tr>
        <td>Harga: </td>
        <td>Rp.@Math.Round(@Model.Harga)</td>
     </tr>
    </thead>
     <h4>Items</h4>
    <ul>
    @foreach (var item in Model.Movie)
    {
        <li>@item.Name</li>
    }
    </ul>
</table>